.container_page-title > h1 {
  color: white;
  padding: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.container_page-title > hr {
  height: 2px;
  background-color: #2a2a2a;
  border: none;
  margin: 15px 0;
}
