<div class="container__big-card">
  <div class="content__big-card">
    <div class="big-card__photo">
      <figure>
        <img src="{{ cardImage }}" alt="{{ cardTitle }}" srcset="" />
      </figure>
    </div>
    <div class="big-card__date">
      <span>{{ cardDate }}</span>
    </div>
    <div class="big-card__title">
      <a [routerLink]="['card-details', id]">
        <h2>{{ cardTitle }}</h2>
      </a>
    </div>
    <div class="big-card__description">
      <p>
        {{ cardDescription }}
      </p>
    </div>
  </div>
  <hr />
</div>
