.content__big-card {
  display: flex;
  flex-direction: column;
}

.big-card__photo,
.big-card__date,
.big-card__title {
  margin-bottom: 10px;
}

.big-card__photo figure,
.big-card__photo figure img {
  width: 100%;
}

.big-card__date > span {
  color: #646464;
  font-size: 0.9rem;
}

.big-card__title,
.big-card__description {
  letter-spacing: 1px;
}

.container__big-card hr {
  margin-top: 40px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .container__big-card hr {
    display: none;
  }
}
