<div class="container__big-card">
  <div class="content__big-card">
    <div class="big-card__photo">
      <figure>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtvBu16sbG5CIpXqTO7k03JmjOouJivut3NEFOTmHx6Yp4H_8zacUwgnovjZP7RwDqbE&usqp=CAU"
          alt=""
          srcset=""
        />
      </figure>
    </div>
    <div class="big-card__date">
      <span>June 22, 2023</span>
    </div>
    <div class="big-card__title">
      <h2>Card Title</h2>
    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id accusamus
        sit vitae ratione earum consectetur omnis voluptate iusto quibusdam quas
        deserunt ab sint doloribus aut quasi, expedita commodi maiores eligendi
        nostrum odit assumenda laboriosam hic excepturi. Non atque aliquid dolor
        similique quis animi maxime, totam vitae necessitatibus inventore
        voluptas architecto!
      </p>
    </div>
  </div>
  <hr />
</div>
