.container__card-details {
  margin: 0 auto;
  margin-top: 95px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.container__card-details__back {
  margin-top: 20px;
}

.content__card-details {
  width: 100%;
  margin: 40px auto;
}

.card-details__photo,
.card-details__date,
.card-details__title {
  margin-bottom: 10px;
}

.card-details__photo figure,
.card-details__photo figure img {
  width: 100%;
}

.card-details__date > span {
  color: #646464;
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  .container__card-details {
    max-width: 540px;
    padding: 0 40px;
  }
}

@media (min-width: 768px) {
  .container__card-details {
    max-width: 720px;
  }

  .content__card-details {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container__card-details {
    padding: 0 60px;
    max-width: 960px;
  }

  .content__card-details {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .container__card-details {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container__card-details {
    max-width: 1320px;
  }
}
