<div class="container__small-card">
  <div class="content__small-card">
    <div class="small-card__photo">
      <figure>
        <img src="{{ cardImage }}" alt="{{ cardTitle }}" srcset="" />
      </figure>
    </div>
    <div class="small-card__info">
      <div class="small-card__date">
        <span>{{ cardDate }}</span>
      </div>
      <div class="small-card__title">
        <a href="http://">
          <h2>{{ cardTitle }}</h2>
        </a>
      </div>
    </div>
  </div>
  <hr />
</div>
