<div class="container__home">
  <app-page-title></app-page-title>
  <article class="container__articles">
    <section class="articles__main">
      <app-big-card
        id="{{ bigCard.id }}"
        cardImage="{{ bigCard.image }}"
        cardDate="{{ bigCard.date }}"
        cardTitle="{{ bigCard.title }}"
        cardDescription="{{ bigCard.description }}"
      ></app-big-card>
    </section>
    <section class="articles__aside">
      <app-small-card
        *ngFor="let smallCard of smallCardList | slice : 1"
        id="{{ smallCard.id }}"
        cardImage="{{ smallCard.image }}"
        cardDate="{{ smallCard.date }}"
        cardTitle="{{ smallCard.title }}"
      ></app-small-card>
    </section>
  </article>
</div>
