<div class="container__home">
  <app-page-title></app-page-title>
  <article class="container__articles">
    <section class="articles__main">
      <app-big-card
        cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtvBu16sbG5CIpXqTO7k03JmjOouJivut3NEFOTmHx6Yp4H_8zacUwgnovjZP7RwDqbE&usqp=CAU"
        cardDate="June 22, 2023"
        cardTitle="Card Title"
        cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit aliquid quaerat fuga facere id, saepe nobis provident voluptatum culpa eius?"
      ></app-big-card>
    </section>
    <section class="articles__aside">
      <app-small-card
        cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtvBu16sbG5CIpXqTO7k03JmjOouJivut3NEFOTmHx6Yp4H_8zacUwgnovjZP7RwDqbE&usqp=CAU"
        cardDate="June 22, 2023"
        cardTitle="Card Title"
      ></app-small-card>
      <app-small-card
        cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtvBu16sbG5CIpXqTO7k03JmjOouJivut3NEFOTmHx6Yp4H_8zacUwgnovjZP7RwDqbE&usqp=CAU"
        cardDate="June 22, 2023"
        cardTitle="Card Title"
      ></app-small-card>
      <app-small-card
        cardImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtvBu16sbG5CIpXqTO7k03JmjOouJivut3NEFOTmHx6Yp4H_8zacUwgnovjZP7RwDqbE&usqp=CAU"
        cardDate="June 22, 2023"
        cardTitle="Card Title"
      ></app-small-card>
    </section>
  </article>
</div>
